.header_div{
    font-family: 'Anton', sans-serif;
    color:rgb(250, 57, 96);
    background-color: aliceblue;
}
.header_div p{
    font-family: 'Pacifico', cursive;
    color: black;
}
button{
    margin-top: 15px;
}
.main_div{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: rgb(251, 192, 204);
}
.main_div h4{
    font-family: 'Pacifico', cursive;
    font-size: 15px;
}
h3{
    font-weight: bold;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
    color:rgb(236, 112, 143);
    font-size: 15px;
    line-height: 5;
    background-color: rgb(246, 215, 222);
    text-shadow:5px 5px 5px rgb(231, 69, 99);
}